@using Repository.Models
@model ContactZip
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<section class="container-fluid">
    <section class="row">
        <section class="col-sm-4">
            <h2>Kontakt information</h2>
        </section>
        
    </section>
    <section class="row">
        <section class="col-md-3">
            <p>
                Firma navn: @Model.ContactName <br />
                Adresse: @Model.ContactAddress <br />
                By: @Model.ZipCode @Model.City <br />
                Telefon nr: @Model.ContactPhone <br />
                Email: @Model.ContactEmail <br />
                CVR: @Model.ContactCVR
            </p>
        </section>
        <section class="col-sm-4">
            <a href="/CMS/ContactInfo/Edit"><button class="btn btnrediger">Rediger</button></a>
        </section>
    </section>
</section>



