@using Repository.Models
@model ContactZip
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<h1>Kontakt information</h1>
<table>
    <thead>
        <tr>
            <td>Firma Navn</td>
            <td>Adresse</td>
            <td>Post nummer</td>
            <td>By</td>
            <td>Telefon nr.</td>
            <td>Email</td>
            <td>CVR</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.ContactName</td>
            <td>@Model.ContactAddress</td>
            <td>@Model.ZipCode</td>
            <td>@Model.City</td>
            <td>@Model.ContactPhone</td>
            <td>@Model.ContactEmail</td>
            <td>@Model.ContactCVR</td>
            <td><a href="/CMS/ContactInfo/Edit"><button class="btn btnrediger">Rediger</button></a></td>
        </tr>
    </tbody>
</table>




